<!-- TOP-MENU inicio -->
<div ng-include="'./templates/menu_inicio.html'"></div>

<!-- CONTENIDO MODULO inicio -->
<div ng-include="'./templates/menu_lateral.html'"></div>
<!-- CONTENIDO MODULO inicio -->
	<div class="col-md-8 col-sm-8" ng-cloak>
		<div class="row">
			<div class="col-md-12">
				<!--<img src="./images/banner_sesar.png" style="width:100%;" class="img-responsive img-thumbnail"> -->
				<hr>
			</div>	
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
				  <h3 class="text-primary text-center">¿QUÉ ES SICTI?</h3>
				  <hr class="bg-red">
				  <div class="panel-body lead text-justify">
					  {{ajustes.menu.titulo}}
				  </div>
				</div>
			</div>	
		</div>	
	</div>
