<!-- TOP-MENU inicio -->

<header>
  	<div class='header-izquierda'>
    <span class="header-texto"> <a href="#" >AdminLTE</a></span>
    <div class='imagen-centro'>
    <span class="imagen-navegar"><a href='#'>toggle navigation</a></span>
    </div>
   </div>

   <div class='header-derecha'>
    <a href="#"><span class='imagen-usuario'>imagen</span>
    <span class='header-texto'>Juanita Lopez</span></a>
    <a href='#!/login'><span class='imagen-configurar'> Iniciar Sesion</span></a>
   </div>
  </header>




