<nav>
  <input type='text' placeholder="Buscar" >
  <span class='buscar'></span>
  <span class='titulo-menu'>MAIN NAVIGATION</span>
  <ul >
  <li> <span class='icono'>img</span><a href='#'>Dasboard</a>  </li>
    <ul class='desplegable'>
    <li><a href='#'>Dasboard v1</a></li>
    <li><a href='#'>Dasborad v2</a></li>
    </ul>

  <li><span class='icono'>img</span><a href='#'>Layout Option</a></li>
  <li><span class='icono'>img</span><a href='#!/proyecto'>Proyectos</a></li>
  <li><span class='icono'>img</span><a href='#!/proyecto'>Crear Proyectos</a></li>
  <li><span class='icono'>img</span><a href='#'>Charts</a></li>
  <ul class='desplegable' >
    <li><a href='#'>aaa</a></li>
    <li><a href='#'>bbb</a></li>
    <li><a href='#'>ccc</a></li>
    <li><a href='#'>ddd</a></li>
  </ul>
  
  <li><span class='icono'>img</span><a href='#'>UI Elements</a>  </li>
  <ul class='desplegable'>
    <li><a href='#'>AAAA</a></li>
    <li><a href='#'>BBBB</a></li>
    <li><a href='#'>CCCC</a></li>
    <li><a href='#'>DDDD</a></li>
  </ul>

  <li><span class='icono'>img</span><a href='#'>Widgets</a></li>
  <li><span class='icono'>img</span><a href='#'>Layout Option</a></li>
  </ul>
  
  </nav>